// Specific CSS for your home-page
  /* Fond dégradé avec la palette */
.custom-bg {
    background: linear-gradient(135deg, #003244 0%, #2b7a8d 25%, #a4c9d8 50%, #d4dce6 75%, #f5f5f0 100%);
/* border-color: #2b7a8d !important; */
}
